In [4]:
import sqlite3 as sql
import pandas as pd
import numpy as np

In [5]:
conn = sql.connect('database.sqlite')
cur = conn.cursor()

In [6]:
query = "SELECT count(*) FROM Player"
cur.execute(query)

In [7]:
# print query
rows = cur.fetchall()
for row in rows:
    print(row)

(11060,)

In [10]:
query = "SELECT * FROM Player limit 15"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 505942, 'Aaron Appindangoye', 218353, '1992-02-29 00:00:00', 182.88, 187)
(2, 155782, 'Aaron Cresswell', 189615, '1989-12-15 00:00:00', 170.18, 146)
(3, 162549, 'Aaron Doran', 186170, '1991-05-13 00:00:00', 170.18, 163)
(4, 30572, 'Aaron Galindo', 140161, '1982-05-08 00:00:00', 182.88, 198)
(5, 23780, 'Aaron Hughes', 17725, '1979-11-08 00:00:00', 182.88, 154)
(6, 27316, 'Aaron Hunt', 158138, '1986-09-04 00:00:00', 182.88, 161)
(7, 564793, 'Aaron Kuhl', 221280, '1996-01-30 00:00:00', 172.72, 146)
(8, 30895, 'Aaron Lennon', 152747, '1987-04-16 00:00:00', 165.1, 139)
(9, 528212, 'Aaron Lennox', 206592, '1993-02-19 00:00:00', 190.5, 181)
(10, 101042, 'Aaron Meijers', 188621, '1987-10-28 00:00:00', 175.26, 170)
(11, 23889, 'Aaron Mokoena', 47189, '1980-11-25 00:00:00', 182.88, 181)
(12, 231592, 'Aaron Mooy', 194958, '1990-09-15 00:00:00', 175.26, 150)
(13, 163222, 'Aaron Muirhead', 213568, '1990-08-30 00:00:00', 187.96, 168)
(14, 40719, 'Aaron Niguez', 183853, '1989-04-26 00:00:00', 170.18, 143)
(15, 75489, 'Aaron Ramsey', 186561, '1990-12-26 00:00:00', 177.8, 154)