In [1]:
# import necessary modules
import sqlite3 as sql
import pandas as pd
import numpy as np

In [2]:
# Establishing the sqlite connection
conn = sql.connect('database.sqlite')
cur = conn.cursor()

In [4]:
# print query
rows = cur.fetchall()
for row in rows:
    print(row)

(11060,)

In [5]:
# Selecting the first 15 rows from the player team
query = "SELECT * FROM Player limit 15"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 505942, 'Aaron Appindangoye', 218353, '1992-02-29 00:00:00', 182.88, 187)
(2, 155782, 'Aaron Cresswell', 189615, '1989-12-15 00:00:00', 170.18, 146)
(3, 162549, 'Aaron Doran', 186170, '1991-05-13 00:00:00', 170.18, 163)
(4, 30572, 'Aaron Galindo', 140161, '1982-05-08 00:00:00', 182.88, 198)
(5, 23780, 'Aaron Hughes', 17725, '1979-11-08 00:00:00', 182.88, 154)
(6, 27316, 'Aaron Hunt', 158138, '1986-09-04 00:00:00', 182.88, 161)
(7, 564793, 'Aaron Kuhl', 221280, '1996-01-30 00:00:00', 172.72, 146)
(8, 30895, 'Aaron Lennon', 152747, '1987-04-16 00:00:00', 165.1, 139)
(9, 528212, 'Aaron Lennox', 206592, '1993-02-19 00:00:00', 190.5, 181)
(10, 101042, 'Aaron Meijers', 188621, '1987-10-28 00:00:00', 175.26, 170)
(11, 23889, 'Aaron Mokoena', 47189, '1980-11-25 00:00:00', 182.88, 181)
(12, 231592, 'Aaron Mooy', 194958, '1990-09-15 00:00:00', 175.26, 150)
(13, 163222, 'Aaron Muirhead', 213568, '1990-08-30 00:00:00', 187.96, 168)
(14, 40719, 'Aaron Niguez', 183853, '1989-04-26 00:00:00', 170.18, 143)
(15, 75489, 'Aaron Ramsey', 186561, '1990-12-26 00:00:00', 177.8, 154)

In [6]:
# Selecting the first 15 rows of the Team table
query = "SELECT * FROM Team limit 15"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 9987, 673, 'KRC Genk', 'GEN')
(2, 9993, 675, 'Beerschot AC', 'BAC')
(3, 10000, 15005, 'SV Zulte-Waregem', 'ZUL')
(4, 9994, 2007, 'Sporting Lokeren', 'LOK')
(5, 9984, 1750, 'KSV Cercle Brugge', 'CEB')
(6, 8635, 229, 'RSC Anderlecht', 'AND')
(7, 9991, 674, 'KAA Gent', 'GEN')
(8, 9998, 1747, 'RAEC Mons', 'MON')
(9, 7947, None, 'FCV Dender EH', 'DEN')
(10, 9985, 232, 'Standard de Li√®ge', 'STL')
(11, 8203, 110724, 'KV Mechelen', 'MEC')
(12, 8342, 231, 'Club Brugge KV', 'CLB')
(13, 9999, 546, 'KSV Roeselare', 'ROS')
(14, 8571, 100081, 'KV Kortrijk', 'KOR')
(15, 4049, None, 'Tubize', 'TUB')

In [8]:
# Viewing the Leagues and it's Nationality
query = "select c.*,l.* from Country c join League l on c.id = l.country_id "
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Belgium', 1, 1, 'Belgium Jupiler League')
(1729, 'England', 1729, 1729, 'England Premier League')
(4769, 'France', 4769, 4769, 'France Ligue 1')
(7809, 'Germany', 7809, 7809, 'Germany 1. Bundesliga')
(10257, 'Italy', 10257, 10257, 'Italy Serie A')
(13274, 'Netherlands', 13274, 13274, 'Netherlands Eredivisie')
(15722, 'Poland', 15722, 15722, 'Poland Ekstraklasa')
(17642, 'Portugal', 17642, 17642, 'Portugal Liga ZON Sagres')
(19694, 'Scotland', 19694, 19694, 'Scotland Premier League')
(21518, 'Spain', 21518, 21518, 'Spain LIGA BBVA')
(24558, 'Switzerland', 24558, 24558, 'Switzerland Super League')

In [9]:
# Viewing the 5 data from the player_attributes
query = "SELECT * FROM Player_Attributes limit 5"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 218353, 505942, '2016-02-18 00:00:00', 67, 71, 'right', 'medium', 'medium', 49, 44, 71, 61, 44, 51, 45, 39, 64, 49, 60, 64, 59, 47, 65, 55, 58, 54, 76, 35, 71, 70, 45, 54, 48, 65, 69, 69, 6, 11, 10, 8, 8)
(2, 218353, 505942, '2015-11-19 00:00:00', 67, 71, 'right', 'medium', 'medium', 49, 44, 71, 61, 44, 51, 45, 39, 64, 49, 60, 64, 59, 47, 65, 55, 58, 54, 76, 35, 71, 70, 45, 54, 48, 65, 69, 69, 6, 11, 10, 8, 8)
(3, 218353, 505942, '2015-09-21 00:00:00', 62, 66, 'right', 'medium', 'medium', 49, 44, 71, 61, 44, 51, 45, 39, 64, 49, 60, 64, 59, 47, 65, 55, 58, 54, 76, 35, 63, 41, 45, 54, 48, 65, 66, 69, 6, 11, 10, 8, 8)
(4, 218353, 505942, '2015-03-20 00:00:00', 61, 65, 'right', 'medium', 'medium', 48, 43, 70, 60, 43, 50, 44, 38, 63, 48, 60, 64, 59, 46, 65, 54, 58, 54, 76, 34, 62, 40, 44, 53, 47, 62, 63, 66, 5, 10, 9, 7, 7)
(5, 218353, 505942, '2007-02-22 00:00:00', 61, 65, 'right', 'medium', 'medium', 48, 43, 70, 60, 43, 50, 44, 38, 63, 48, 60, 64, 59, 46, 65, 54, 58, 54, 76, 34, 62, 40, 44, 53, 47, 62, 63, 66, 5, 10, 9, 7, 7)

In [17]:
# Query to find the average overall rating of players by their preferred foot
query = """
SELECT preferred_foot, AVG(overall_rating)
FROM Player_Attributes
GROUP BY preferred_foot
"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(None, None)
('left', 68.6261820132788)
('right', 68.59155835241928)

In [20]:
# Query to find the top 10 players with the highest overall rating
query = """
SELECT distinct(player_name), overall_rating
FROM Player_Attributes
JOIN Player ON Player_Attributes.player_api_id = Player.player_api_id
ORDER BY overall_rating DESC
LIMIT 10
"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Lionel Messi', 94)
('Cristiano Ronaldo', 93)
('Gianluigi Buffon', 93)
('Lionel Messi', 93)
('Wayne Rooney', 93)
('Cristiano Ronaldo', 92)
('Gregory Coupet', 92)
('Xavi Hernandez', 92)
('Alessandro Nesta', 91)
('Andres Iniesta', 91)

In [21]:
# Query to find the average potential rating of players by their preferred foot
query = """
SELECT preferred_foot, AVG(potential)
FROM Player_Attributes
GROUP BY preferred_foot
"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(None, None)
('left', 73.50667292602776)
('right', 73.445382886951)

In [26]:
# Query to find the distribution of players' overall ratings
query = """
SELECT overall_rating, COUNT(*)
FROM Player_Attributes
GROUP BY overall_rating
ORDER BY overall_rating

"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(None, 836)
(33, 2)
(35, 5)
(36, 3)
(37, 3)
(38, 8)
(39, 12)
(40, 24)
(41, 41)
(42, 47)
(43, 47)
(44, 50)
(45, 92)
(46, 142)
(47, 152)
(48, 231)
(49, 295)
(50, 586)
(51, 665)
(52, 865)
(53, 980)
(54, 1160)
(55, 1418)
(56, 1798)
(57, 2289)
(58, 2950)
(59, 3239)
(60, 4489)
(61, 5161)
(62, 6041)
(63, 7704)
(64, 9030)
(65, 9336)
(66, 10112)
(67, 10198)
(68, 10492)
(69, 10281)
(70, 10028)
(71, 9354)
(72, 9740)
(73, 9044)
(74, 8556)
(75, 7359)
(76, 6150)
(77, 5104)
(78, 4064)
(79, 3461)
(80, 2773)
(81, 2174)
(82, 1663)
(83, 1166)
(84, 855)
(85, 604)
(86, 456)
(87, 292)
(88, 151)
(89, 77)
(90, 68)
(91, 16)
(92, 16)
(93, 11)
(94, 12)

In [35]:
#  Players with the Highest Number of Yellow Cards
query = """
SELECT p.player_name, COUNT(*) AS yellow_cards
FROM Match m
JOIN Player p ON m.home_player_1 = p.player_api_id 
OR m.home_player_2 = p.player_api_id OR 
m.home_player_3 = p.player_api_id OR 
m.home_player_4 = p.player_api_id OR 
m.home_player_5 = p.player_api_id OR 
m.home_player_6 = p.player_api_id OR 
m.home_player_7 = p.player_api_id OR 
m.home_player_8 = p.player_api_id 
"""
cur.execute(query)
row = cur.fetchone()
print(row)

('Jeremy Sapina', 197511)

In [37]:
# The team with the highest build-up play speed:
query = """
SELECT team_long_name, MAX(buildUpPlaySpeed) AS max_build_up_speed 
FROM Team_Attributes ta JOIN Team t ON ta.team_api_id = t.team_api_id
"""
cur.execute(query)
row = cur.fetchall()
print(row)

[('Carpi', 80)]

In [41]:
# The total number of matches played in each season
query = "SELECT season, COUNT(*) AS total_matches FROM Match GROUP BY season"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('2008/2009', 3326)
('2009/2010', 3230)
('2010/2011', 3260)
('2011/2012', 3220)
('2012/2013', 3260)
('2013/2014', 3032)
('2014/2015', 3325)
('2015/2016', 3326)