In [1]:
# import necessary modules
import sqlite3 as sql
import pandas as pd
import numpy as np

In [2]:
# Establishing the sqlite connection
conn = sql.connect('database.sqlite')
cur = conn.cursor()

In [5]:
# Selecting the first 15 rows from the player team
query = "SELECT * FROM Player limit 15"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 505942, 'Aaron Appindangoye', 218353, '1992-02-29 00:00:00', 182.88, 187)
(2, 155782, 'Aaron Cresswell', 189615, '1989-12-15 00:00:00', 170.18, 146)
(3, 162549, 'Aaron Doran', 186170, '1991-05-13 00:00:00', 170.18, 163)
(4, 30572, 'Aaron Galindo', 140161, '1982-05-08 00:00:00', 182.88, 198)
(5, 23780, 'Aaron Hughes', 17725, '1979-11-08 00:00:00', 182.88, 154)
(6, 27316, 'Aaron Hunt', 158138, '1986-09-04 00:00:00', 182.88, 161)
(7, 564793, 'Aaron Kuhl', 221280, '1996-01-30 00:00:00', 172.72, 146)
(8, 30895, 'Aaron Lennon', 152747, '1987-04-16 00:00:00', 165.1, 139)
(9, 528212, 'Aaron Lennox', 206592, '1993-02-19 00:00:00', 190.5, 181)
(10, 101042, 'Aaron Meijers', 188621, '1987-10-28 00:00:00', 175.26, 170)
(11, 23889, 'Aaron Mokoena', 47189, '1980-11-25 00:00:00', 182.88, 181)
(12, 231592, 'Aaron Mooy', 194958, '1990-09-15 00:00:00', 175.26, 150)
(13, 163222, 'Aaron Muirhead', 213568, '1990-08-30 00:00:00', 187.96, 168)
(14, 40719, 'Aaron Niguez', 183853, '1989-04-26 00:00:00', 170.18, 143)
(15, 75489, 'Aaron Ramsey', 186561, '1990-12-26 00:00:00', 177.8, 154)

In [6]:
# Selecting the first 15 rows of the Team table
query = "SELECT * FROM Team limit 15"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 9987, 673, 'KRC Genk', 'GEN')
(2, 9993, 675, 'Beerschot AC', 'BAC')
(3, 10000, 15005, 'SV Zulte-Waregem', 'ZUL')
(4, 9994, 2007, 'Sporting Lokeren', 'LOK')
(5, 9984, 1750, 'KSV Cercle Brugge', 'CEB')
(6, 8635, 229, 'RSC Anderlecht', 'AND')
(7, 9991, 674, 'KAA Gent', 'GEN')
(8, 9998, 1747, 'RAEC Mons', 'MON')
(9, 7947, None, 'FCV Dender EH', 'DEN')
(10, 9985, 232, 'Standard de Li√®ge', 'STL')
(11, 8203, 110724, 'KV Mechelen', 'MEC')
(12, 8342, 231, 'Club Brugge KV', 'CLB')
(13, 9999, 546, 'KSV Roeselare', 'ROS')
(14, 8571, 100081, 'KV Kortrijk', 'KOR')
(15, 4049, None, 'Tubize', 'TUB')

In [8]:
# Viewing the Leagues and it's Nationality
query = "select c.*,l.* from Country c join League l on c.id = l.country_id "
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Belgium', 1, 1, 'Belgium Jupiler League')
(1729, 'England', 1729, 1729, 'England Premier League')
(4769, 'France', 4769, 4769, 'France Ligue 1')
(7809, 'Germany', 7809, 7809, 'Germany 1. Bundesliga')
(10257, 'Italy', 10257, 10257, 'Italy Serie A')
(13274, 'Netherlands', 13274, 13274, 'Netherlands Eredivisie')
(15722, 'Poland', 15722, 15722, 'Poland Ekstraklasa')
(17642, 'Portugal', 17642, 17642, 'Portugal Liga ZON Sagres')
(19694, 'Scotland', 19694, 19694, 'Scotland Premier League')
(21518, 'Spain', 21518, 21518, 'Spain LIGA BBVA')
(24558, 'Switzerland', 24558, 24558, 'Switzerland Super League')

In [9]:
# Viewing the 5 data from the player_attributes
query = "SELECT * FROM Player_Attributes limit 5"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 218353, 505942, '2016-02-18 00:00:00', 67, 71, 'right', 'medium', 'medium', 49, 44, 71, 61, 44, 51, 45, 39, 64, 49, 60, 64, 59, 47, 65, 55, 58, 54, 76, 35, 71, 70, 45, 54, 48, 65, 69, 69, 6, 11, 10, 8, 8)
(2, 218353, 505942, '2015-11-19 00:00:00', 67, 71, 'right', 'medium', 'medium', 49, 44, 71, 61, 44, 51, 45, 39, 64, 49, 60, 64, 59, 47, 65, 55, 58, 54, 76, 35, 71, 70, 45, 54, 48, 65, 69, 69, 6, 11, 10, 8, 8)
(3, 218353, 505942, '2015-09-21 00:00:00', 62, 66, 'right', 'medium', 'medium', 49, 44, 71, 61, 44, 51, 45, 39, 64, 49, 60, 64, 59, 47, 65, 55, 58, 54, 76, 35, 63, 41, 45, 54, 48, 65, 66, 69, 6, 11, 10, 8, 8)
(4, 218353, 505942, '2015-03-20 00:00:00', 61, 65, 'right', 'medium', 'medium', 48, 43, 70, 60, 43, 50, 44, 38, 63, 48, 60, 64, 59, 46, 65, 54, 58, 54, 76, 34, 62, 40, 44, 53, 47, 62, 63, 66, 5, 10, 9, 7, 7)
(5, 218353, 505942, '2007-02-22 00:00:00', 61, 65, 'right', 'medium', 'medium', 48, 43, 70, 60, 43, 50, 44, 38, 63, 48, 60, 64, 59, 46, 65, 54, 58, 54, 76, 34, 62, 40, 44, 53, 47, 62, 63, 66, 5, 10, 9, 7, 7)

In [17]:
# Query to find the average overall rating of players by their preferred foot
query = """
SELECT preferred_foot, AVG(overall_rating)
FROM Player_Attributes
GROUP BY preferred_foot
"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(None, None)
('left', 68.6261820132788)
('right', 68.59155835241928)

In [20]:
# Query to find the top 10 players with the highest overall rating
query = """
SELECT distinct(player_name), overall_rating
FROM Player_Attributes
JOIN Player ON Player_Attributes.player_api_id = Player.player_api_id
ORDER BY overall_rating DESC
LIMIT 10
"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Lionel Messi', 94)
('Cristiano Ronaldo', 93)
('Gianluigi Buffon', 93)
('Lionel Messi', 93)
('Wayne Rooney', 93)
('Cristiano Ronaldo', 92)
('Gregory Coupet', 92)
('Xavi Hernandez', 92)
('Alessandro Nesta', 91)
('Andres Iniesta', 91)

In [21]:
# Query to find the average potential rating of players by their preferred foot
query = """
SELECT preferred_foot, AVG(potential)
FROM Player_Attributes
GROUP BY preferred_foot
"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(None, None)
('left', 73.50667292602776)
('right', 73.445382886951)

In [26]:
# Query to find the distribution of players' overall ratings
query = """
SELECT overall_rating, COUNT(*)
FROM Player_Attributes
GROUP BY overall_rating
ORDER BY overall_rating

"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(None, 836)
(33, 2)
(35, 5)
(36, 3)
(37, 3)
(38, 8)
(39, 12)
(40, 24)
(41, 41)
(42, 47)
(43, 47)
(44, 50)
(45, 92)
(46, 142)
(47, 152)
(48, 231)
(49, 295)
(50, 586)
(51, 665)
(52, 865)
(53, 980)
(54, 1160)
(55, 1418)
(56, 1798)
(57, 2289)
(58, 2950)
(59, 3239)
(60, 4489)
(61, 5161)
(62, 6041)
(63, 7704)
(64, 9030)
(65, 9336)
(66, 10112)
(67, 10198)
(68, 10492)
(69, 10281)
(70, 10028)
(71, 9354)
(72, 9740)
(73, 9044)
(74, 8556)
(75, 7359)
(76, 6150)
(77, 5104)
(78, 4064)
(79, 3461)
(80, 2773)
(81, 2174)
(82, 1663)
(83, 1166)
(84, 855)
(85, 604)
(86, 456)
(87, 292)
(88, 151)
(89, 77)
(90, 68)
(91, 16)
(92, 16)
(93, 11)
(94, 12)

In [35]:
#  Players with the Highest Number of Yellow Cards
query = """
SELECT p.player_name, COUNT(*) AS yellow_cards
FROM Match m
JOIN Player p ON m.home_player_1 = p.player_api_id 
OR m.home_player_2 = p.player_api_id OR 
m.home_player_3 = p.player_api_id OR 
m.home_player_4 = p.player_api_id OR 
m.home_player_5 = p.player_api_id OR 
m.home_player_6 = p.player_api_id OR 
m.home_player_7 = p.player_api_id OR 
m.home_player_8 = p.player_api_id 
"""
cur.execute(query)
row = cur.fetchone()
print(row)

('Jeremy Sapina', 197511)

In [37]:
# The team with the highest build-up play speed:
query = """
SELECT team_long_name, MAX(buildUpPlaySpeed) AS max_build_up_speed 
FROM Team_Attributes ta JOIN Team t ON ta.team_api_id = t.team_api_id
"""
cur.execute(query)
row = cur.fetchall()
print(row)

[('Carpi', 80)]

In [41]:
# The total number of matches played in each season
query = "SELECT season, COUNT(*) AS total_matches FROM Match GROUP BY season"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('2008/2009', 3326)
('2009/2010', 3230)
('2010/2011', 3260)
('2011/2012', 3220)
('2012/2013', 3260)
('2013/2014', 3032)
('2014/2015', 3325)
('2015/2016', 3326)

In [100]:
query = """
SELECT p.player_name, MAX(pa.sprint_speed) AS max_sprint_speed
FROM Player_Attributes pa
JOIN Player p ON pa.player_api_id = p.player_api_id
"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('David Odonkor', 97)

In [47]:
# matches where the home team scored more than 3 goals
query = "SELECT * FROM Match WHERE home_team_goal > 3 limit 10"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

(4, 1, 1, '2008/2009', 1, '2008-08-17 00:00:00', 492476, 9991, 9998, 5, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.44, 3.75, 7.5, 1.4, 4, 6.8, 1.4, 3.9, 6, 1.44, 3.6, 6.5, None, None, None, 1.44, 3.75, 6, 1.44, 4, 7.5, 1.45, 3.75, 6.5, 1.5, 3.75, 5.5, 1.44, 3.75, 6.5)
(10, 1, 1, '2008/2009', 10, '2008-11-01 00:00:00', 492564, 8342, 8571, 4, 1, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.3, 5.25, 9.5, 1.25, 5, 10, 1.3, 4.2, 8, 1.25, 4.5, 10, None, None, None, 1.35, 4.2, 7, 1.27, 5, 10, 1.3, 4.35, 8.5, 1.25, 5, 10, 1.29, 4.5, 9)
(48, 1, 1, '2008/2009', 14, '2008-11-29 00:00:00', 492658, 10000, 9986, 4, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 2.2, 3.25, 3, 2.2, 3.2, 3, 2.2, 3, 2.9, 2.25, 3.25, 2.7, None, None, None, 2.3, 3.25, 2.6, 2.2, 3.25, 3.1, 2.25, 3.25, 2.75, 2.15, 3.2, 3, 2.25, 3.2, 2.8)
(49, 1, 1, '2008/2009', 14, '2008-11-29 00:00:00', 492662, 9991, 9999, 4, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.29, 4.75, 9.5, 1.3, 4.7, 8.5, 1.4, 3.9, 6, 1.33, 4, 8, None, None, None, 1.36, 3.75, 8, 1.36, 4.5, 8, 1.3, 4.5, 8, 1.33, 4.5, 7.5, 1.33, 4.5, 7.5)
(55, 1, 1, '2008/2009', 15, '2008-12-06 00:00:00', 492683, 8635, 4049, 5, 1, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.2, 6, 11, 1.2, 5.1, 12, 1.2, 5, 10, 1.17, 5.5, 12, None, None, None, 1.22, 5, 9.5, 1.2, 6.5, 13, 1.2, 5.5, 11, 1.2, 5.5, 11, 1.2, 6, 10)
(57, 1, 1, '2008/2009', 15, '2008-12-06 00:00:00', 492689, 9998, 7947, 5, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 2.1, 3.25, 3.25, 2.15, 3.1, 3.1, 2.1, 3.1, 3, 2, 3.2, 3.2, None, None, None, 2.1, 3.2, 3, 2.15, 3.25, 3.4, 2.1, 3.25, 3, 2.1, 3.2, 3.1, 2.1, 3.25, 3.1)
(77, 1, 1, '2008/2009', 17, '2008-12-20 00:00:00', 492753, 9984, 9999, 4, 3, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.4, 4.33, 8.5, 1.4, 3.75, 8, 1.45, 3.8, 5.4, 1.36, 4, 7, None, None, None, 1.44, 3.75, 6, 1.44, 4, 7.5, 1.45, 3.75, 6.5, 1.45, 3.75, 7, 1.44, 3.75, 6.5)
(79, 1, 1, '2008/2009', 17, '2008-12-20 00:00:00', 492758, 9996, 8342, 5, 1, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 3, 3.25, 2.4, 3, 3.2, 2.2, 2.8, 3.1, 2.2, 2.75, 3.25, 2.2, None, None, None, 2.7, 3.2, 2.25, 3, 3.25, 2.3, 2.8, 3.25, 2.25, 3, 3.2, 2.2, 2.75, 3.2, 2.3)
(82, 1, 1, '2008/2009', 18, '2009-01-18 00:00:00', 492769, 9993, 9987, 4, 1, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 2.6, 3.3, 2.62, 2.55, 3.3, 2.4, 2.5, 3.2, 2.3, 2.5, 3.1, 2.5, None, None, None, 2.5, 3.1, 2.5, 2.6, 3.2, 2.6, 2.4, 3.25, 2.65, 2.6, 3.25, 2.45, 2.5, 3.2, 2.5)
(105, 1, 1, '2008/2009', 2, '2008-08-23 00:00:00', 492487, 9994, 4049, 4, 1, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.65, 3.6, 4.75, 1.7, 3.45, 4.3, 1.65, 3.3, 4.4, 1.53, 3.5, 5.5, None, None, None, 1.67, 3.4, 4.33, 1.57, 3.5, 6, 1.65, 3.4, 4.5, 1.67, 3.4, 4.5, 1.67, 3.4, 4.5)

In [101]:
query = """
SELECT p.player_name, MAX(pa.penalties) AS max_penalties
FROM Player_Attributes pa
JOIN Player p ON pa.player_api_id = p.player_api_id
"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Rickie Lambert', 96)

In [ ]:
#Analyzing Cristiano Ronaldo performance trends over time
query = """SELECT p.player_name, pa.date, pa.overall_rating
    FROM Player p
    JOIN Player_Attributes pa ON p.player_api_id = pa.player_api_id
    WHERE p.player_name = 'Cristiano Ronaldo'
    ORDER BY pa.date desc
    limit 20"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Cristiano Ronaldo', '2015-10-16 00:00:00', 93)
('Cristiano Ronaldo', '2015-09-25 00:00:00', 93)
('Cristiano Ronaldo', '2015-09-21 00:00:00', 93)
('Cristiano Ronaldo', '2015-05-15 00:00:00', 92)
('Cristiano Ronaldo', '2015-04-17 00:00:00', 92)
('Cristiano Ronaldo', '2014-10-31 00:00:00', 92)
('Cristiano Ronaldo', '2014-09-18 00:00:00', 92)
('Cristiano Ronaldo', '2014-02-07 00:00:00', 92)
('Cristiano Ronaldo', '2014-01-17 00:00:00', 92)
('Cristiano Ronaldo', '2013-09-20 00:00:00', 92)
('Cristiano Ronaldo', '2013-03-22 00:00:00', 92)
('Cristiano Ronaldo', '2013-03-08 00:00:00', 92)
('Cristiano Ronaldo', '2013-03-01 00:00:00', 92)
('Cristiano Ronaldo', '2013-02-15 00:00:00', 92)
('Cristiano Ronaldo', '2012-08-31 00:00:00', 92)
('Cristiano Ronaldo', '2012-02-22 00:00:00', 92)
('Cristiano Ronaldo', '2011-08-30 00:00:00', 92)
('Cristiano Ronaldo', '2011-02-22 00:00:00', 89)
('Cristiano Ronaldo', '2010-08-30 00:00:00', 89)
('Cristiano Ronaldo', '2010-02-22 00:00:00', 89)

In [77]:
#Analyzing Lionel Messi performance trends over time
query = """SELECT p.player_name, pa.date, pa.overall_rating
    FROM Player p
    JOIN Player_Attributes pa ON p.player_api_id = pa.player_api_id
    WHERE p.player_name = 'Lionel Messi'
    ORDER BY pa.date desc
    limit 20"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Lionel Messi', '2015-12-17 00:00:00', 94)
('Lionel Messi', '2015-10-16 00:00:00', 94)
('Lionel Messi', '2015-09-21 00:00:00', 94)
('Lionel Messi', '2015-06-26 00:00:00', 93)
('Lionel Messi', '2015-03-13 00:00:00', 93)
('Lionel Messi', '2015-02-20 00:00:00', 93)
('Lionel Messi', '2015-01-23 00:00:00', 93)
('Lionel Messi', '2014-10-17 00:00:00', 93)
('Lionel Messi', '2014-09-18 00:00:00', 93)
('Lionel Messi', '2014-04-25 00:00:00', 94)
('Lionel Messi', '2013-11-15 00:00:00', 94)
('Lionel Messi', '2013-09-20 00:00:00', 94)
('Lionel Messi', '2013-03-22 00:00:00', 94)
('Lionel Messi', '2013-03-08 00:00:00', 94)
('Lionel Messi', '2013-02-15 00:00:00', 94)
('Lionel Messi', '2012-08-31 00:00:00', 94)
('Lionel Messi', '2012-02-22 00:00:00', 94)
('Lionel Messi', '2011-08-30 00:00:00', 94)
('Lionel Messi', '2011-02-22 00:00:00', 90)
('Lionel Messi', '2010-08-30 00:00:00', 90)

In [105]:
#total number of goals scored by each team in a season
query = """ SELECT t.team_long_name, SUM(home_team_goal + away_team_goal) AS total_goals FROM Match m 
JOIN Team t ON m.home_team_api_id = t.team_api_id OR 
m.away_team_api_id = t.team_api_id 
GROUP BY t.team_long_name
ORDER BY total_goals DESC
limit 20"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Real Madrid CF', 1147)
('FC Barcelona', 1081)
('PSV', 946)
('FC Basel', 930)
('SC Heerenveen', 925)
('Celtic', 918)
('Manchester City', 913)
('BSC Young Boys', 902)
('SV Werder Bremen', 894)
('Arsenal', 893)
('Roma', 889)
('Ajax', 883)
('Sevilla FC', 875)
('Dundee United', 873)
('FC Z√ºrich', 869)
('Chelsea', 869)
('Liverpool', 868)
('Heracles Almelo', 866)
('FC Bayern Munich', 864)
('Manchester United', 862)

In [64]:
# Teams with the Most Wins in a Season
query = """SELECT t.team_long_name, COUNT(*) AS wins
FROM Match m
JOIN Team t ON m.home_team_api_id = t.team_api_id AND m.home_team_goal > m.away_team_goal
GROUP BY t.team_long_name
ORDER BY wins DESC
LIMIT 10"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('FC Barcelona', 131)
('Real Madrid CF', 129)
('Celtic', 120)
('Manchester United', 116)
('Manchester City', 113)
('FC Bayern Munich', 109)
('PSV', 105)
('Juventus', 105)
('FC Basel', 103)
('Atl√©tico Madrid', 103)

In [ ]:
#Teams with the Highest Number of Clean Sheets (No Goals Conceded)
query = """SELECT t.team_long_name, COUNT(*) AS clean_sheets
FROM Match m
JOIN Team t ON m.home_team_api_id = t.team_api_id AND m.away_team_goal = 0 OR m.away_team_api_id = t.team_api_id AND m.home_team_goal = 0
GROUP BY t.team_long_name
ORDER BY clean_sheets DESC
LIMIT 10"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Celtic', 153)
('FC Barcelona', 140)
('Manchester United', 133)
('Juventus', 132)
('FC Porto', 128)
('Atl√©tico Madrid', 125)
('FC Bayern Munich', 124)
('Chelsea', 123)
('Ajax', 122)
('Paris Saint-Germain', 120)

In [70]:
# Players Who Played in the Most Matches
query = """SELECT p.player_name, COUNT(*) AS matches_played
FROM Match m
JOIN Player p ON m.home_player_1 = p.player_api_id OR m.home_player_2 = p.player_api_id
OR m.home_player_3 = p.player_api_id OR m.home_player_4 = p.player_api_id 
OR m.home_player_5 = p.player_api_id OR m.home_player_6 = p.player_api_id 
OR m.home_player_7 = p.player_api_id OR m.home_player_8 = p.player_api_id 
OR m.home_player_9 = p.player_api_id OR m.home_player_10 = p.player_api_id 
OR m.home_player_11 = p.player_api_id OR m.away_player_1 = p.player_api_id 
OR m.away_player_2 = p.player_api_id OR m.away_player_3 = p.player_api_id 
OR m.away_player_4 = p.player_api_id OR m.away_player_5 = p.player_api_id 
OR m.away_player_6 = p.player_api_id OR m.away_player_7 = p.player_api_id 
OR m.away_player_8 = p.player_api_id OR m.away_player_9 = p.player_api_id 
OR m.away_player_10 = p.player_api_id OR m.away_player_11 = p.player_api_id
GROUP BY p.player_name
ORDER BY matches_played DESC
LIMIT 10;"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Marcelo', 513)
('Ricardo', 413)
('Danilo', 350)
('Gonzalo Castro', 347)
('Juanfran', 341)
('Fernando', 326)
('Diego', 314)
('Steve Mandanda', 300)
('Felipe', 300)
('Stephane Ruffier', 294)

In [106]:
# Query to find the team name and its chance creation attributes
query = """
SELECT distinct(t.team_long_name), ta.chanceCreationPassing, ta.chanceCreationCrossing, ta.chanceCreationShooting
FROM Team t
JOIN Team_Attributes ta ON t.team_api_id = ta.team_api_id
LIMIT 10
"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('FC Aarau', 60, 65, 55)
('FC Aarau', 54, 63, 64)
('Aberdeen', 70, 70, 70)
('Aberdeen', 53, 48, 52)
('Aberdeen', 45, 70, 55)
('Aberdeen', 40, 50, 55)
('Aberdeen', 56, 68, 57)
('Aberdeen', 51, 72, 63)
('AC Ajaccio', 45, 35, 55)
('AC Ajaccio', 65, 65, 50)

In [ ]:
# The best dribblers 
query = """
SELECT distinct(p.player_name), pa.dribbling
FROM Player p
JOIN Player_Attributes pa ON p.player_api_id = pa.player_api_id
ORDER BY pa.dribbling DESC
LIMIT 10
"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Cristiano Ronaldo', 97)
('Lionel Messi', 97)
('Ronaldinho', 97)
('Lionel Messi', 96)
('Robinho', 96)
('Antonio Cassano', 95)
('Cristiano Ronaldo', 95)
('Lionel Messi', 95)
('Neymar', 95)
('Robinho', 95)

In [83]:
query = """
SELECT distinct(p.player_name), pa.gk_diving, pa.gk_handling, pa.gk_kicking, pa.gk_positioning, pa.gk_reflexes
FROM Player p
JOIN Player_Attributes pa ON p.player_api_id = pa.player_api_id
ORDER BY pa.gk_reflexes DESC
LIMIT 10
"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Iker Casillas', 94, 88, 74, 90, 96)
('Iker Casillas', 94, 88, 71, 90, 96)
('Iker Casillas', 93, 87, 71, 89, 94)
('Iker Casillas', 93, 87, 74, 91, 94)
('Petr Cech', 90, 86, 82, 91, 94)
('Sebastian Frey', 84, 75, 83, 86, 94)
('Gianluigi Buffon', 91, 93, 76, 96, 93)
('Iker Casillas', 91, 83, 69, 87, 93)
('Iker Casillas', 91, 86, 69, 89, 93)
('Iker Casillas', 91, 85, 72, 89, 93)

In [84]:
# The best player in 2015
query = """
SELECT p.player_name, pa.overall_rating
FROM Player p
JOIN Player_Attributes pa ON p.player_api_id = pa.player_api_id
WHERE pa.date LIKE '2015%'
ORDER BY pa.overall_rating DESC
LIMIT 1
"""
cur.execute(query)
row = cur.fetchone()
print(row)

('Lionel Messi', 94)

In [85]:
# The best player in 2014
query = """
SELECT p.player_name, pa.overall_rating
FROM Player p
JOIN Player_Attributes pa ON p.player_api_id = pa.player_api_id
WHERE pa.date LIKE '2014%'
ORDER BY pa.overall_rating DESC
LIMIT 1
"""
cur.execute(query)
row = cur.fetchone()
print(row)

('Lionel Messi', 94)

In [86]:
# The best player in 2010
query = """
SELECT p.player_name, pa.overall_rating
FROM Player p
JOIN Player_Attributes pa ON p.player_api_id = pa.player_api_id
WHERE pa.date LIKE '2010%'
ORDER BY pa.overall_rating DESC
LIMIT 1
"""
cur.execute(query)
row = cur.fetchone()
print(row)

('Iker Casillas', 90)

In [87]:
# The best player in 2011
query = """
SELECT p.player_name, pa.overall_rating
FROM Player p
JOIN Player_Attributes pa ON p.player_api_id = pa.player_api_id
WHERE pa.date LIKE '2011%'
ORDER BY pa.overall_rating DESC
LIMIT 1
"""
cur.execute(query)
row = cur.fetchone()
print(row)

('Lionel Messi', 94)

In [88]:
# Team with the highest defence pressure
query = """
SELECT team_long_name, MAX(defencePressure) AS max_defence_pressure
FROM Team_Attributes ta
JOIN Team t ON ta.team_api_id = t.team_api_id
"""
cur.execute(query)
row = cur.fetchone()
print(row)

('FC Bayern Munich', 72)

In [91]:
# The team with the highest build-up play speed
query = """
SELECT team_long_name, MAX(buildUpPlaySpeed) AS max_build_up_speed 
FROM Team_Attributes ta 
JOIN Team t ON ta.team_api_id = t.team_api_id
"""
cur.execute(query)
row = cur.fetchone()
print(row)

('Carpi', 80)

In [94]:
# The player with the highest free kick accuracy
query = """
SELECT p.player_name, pa.free_kick_accuracy
FROM Player p
JOIN Player_Attributes pa ON p.player_api_id = pa.player_api_id
ORDER BY pa.free_kick_accuracy DESC
LIMIT 1
"""
cur.execute(query)
row = cur.fetchone()
print(row)

('Juninho Pernambucano,20', 97)

In [99]:
# Query to find players with the highest vision and highest long_shots, and view all the attributes associated
query = """
SELECT distinct(p.player_name), pa.*
FROM Player p
JOIN Player_Attributes pa ON p.player_api_id = pa.player_api_id
ORDER BY pa.vision DESC, pa.long_shots DESC
LIMIT 10
"""
cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

('Xavi Hernandez', 180725, 10535, 39854, '2011-02-22 00:00:00', 87, 90, 'right', 'medium', 'medium', 91, 71, 59, 97, 70, 86, 83, 87, 93, 95, 71, 74, 85, 93, 82, 75, 55, 83, 64, 82, 59, 75, 91, 97, 75, 59, 68, 67, 5, 15, 12, 5, 9)
('Xavi Hernandez', 180719, 10535, 39854, '2013-03-22 00:00:00', 90, 90, 'right', 'medium', 'medium', 85, 74, 51, 97, 66, 83, 85, 87, 93, 95, 67, 65, 82, 93, 90, 67, 53, 72, 60, 76, 53, 74, 88, 97, 75, 55, 62, 61, 5, 15, 12, 5, 9)
('Xavi Hernandez', 180720, 10535, 39854, '2013-03-08 00:00:00', 90, 90, 'right', 'medium', 'medium', 85, 74, 51, 97, 66, 83, 85, 87, 93, 95, 67, 65, 82, 93, 90, 67, 53, 72, 60, 76, 53, 74, 88, 97, 75, 55, 62, 61, 5, 15, 12, 5, 9)
('Xavi Hernandez', 180721, 10535, 39854, '2013-02-15 00:00:00', 90, 90, 'right', 'medium', 'medium', 85, 74, 51, 97, 66, 83, 85, 87, 93, 95, 67, 65, 82, 93, 90, 67, 53, 72, 60, 76, 53, 74, 88, 97, 75, 55, 62, 61, 5, 15, 12, 5, 9)
('Xavi Hernandez', 180722, 10535, 39854, '2012-08-31 00:00:00', 90, 90, 'right', 'medium', 'medium', 85, 74, 51, 97, 66, 83, 85, 87, 93, 95, 67, 65, 82, 93, 90, 67, 53, 72, 60, 76, 53, 74, 88, 97, 75, 55, 62, 61, 5, 15, 12, 5, 9)
('Xavi Hernandez', 180723, 10535, 39854, '2012-02-22 00:00:00', 91, 91, 'right', 'medium', 'medium', 85, 70, 51, 97, 69, 83, 85, 87, 93, 95, 68, 66, 82, 93, 90, 65, 53, 80, 61, 75, 53, 74, 94, 97, 75, 55, 62, 61, 5, 15, 12, 5, 9)
('Xavi Hernandez', 180724, 10535, 39854, '2011-08-30 00:00:00', 92, 92, 'right', 'medium', 'medium', 85, 70, 51, 97, 69, 83, 85, 87, 93, 95, 68, 66, 82, 93, 90, 65, 53, 82, 61, 75, 53, 74, 94, 97, 75, 55, 62, 61, 5, 15, 12, 5, 9)
('Xavi Hernandez', 180729, 10535, 39854, '2008-08-30 00:00:00', 87, 88, 'right', 'medium', 'medium', 87, 76, 63, 95, 70, 87, 83, 86, 93, 94, 79, 78, 89, 94, 82, 74, 55, 87, 63, 85, 59, 87, 89, 96, 88, 53, 67, 67, 5, 23, 93, 23, 23)
('Xavi Hernandez', 180730, 10535, 39854, '2007-08-30 00:00:00', 86, 88, 'right', 'medium', 'medium', 82, 72, 70, 92, 70, 82, 83, 86, 91, 86, 83, 79, 89, 89, 82, 74, 55, 82, 72, 85, 66, 87, 86, 96, 82, 60, 81, 67, 13, 23, 91, 23, 23)
('Andrea Pirlo', 12009, 7763, 30731, '2012-08-31 00:00:00', 87, 87, 'right', 'low', 'medium', 84, 60, 50, 94, 78, 84, 87, 86, 96, 94, 66, 58, 68, 88, 81, 80, 32, 72, 62, 84, 74, 74, 60, 96, 86, 60, 68, 64, 6, 5, 10, 9, 8)